# Get the directory of the current script
SCRIPT_DIR=$(dirname "$0")


# FILES TO SYNC
# Modify this section to represent the necessary paths for file transfer.
# Define the source drive location
# Define the target drive location 
# Define location of the log files

dirSOURCE=("/Volumes/TK/")							# Point this to your 	Primary Source Materials
dirTARGET=("/Volumes/TK/")							# "					First Destination Target
# dirTARGET2=("/Volumes/TK/")							# "					Second Destination Target
# dirTARGET3=("/Volumes/TK/")							# "					Third Destination Target
dirLOG=("/Volumes/TK/Logs/")							# Point this to where you want to keep your log files. Default saves to a folder within this one.



# System definitions for building a log-file
myDate=$(date "+%Y-%m-%d_[%H.%M.%S]")	
myAPND=('_logFile.txt')
myLOG=${dirLOG}${myDate}${myAPND}




# Insert this in the main body to use the config route.
# Direction to Config file.
# Get the directory of the current script
# SCRIPT_DIR=$(dirname "$0")
# source $SCRIPT_DIR/FS.config

 
